<nav class="navbar navbar-expand-lg navbar-light index-bg-image">
    <a href="#"> <img src="../public/assets/SVG/sante_lg.png" alt="LOGO" class=" index-logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
            <li class=" list-unstyled  mx-3 index-lien mt-1"> <a href="#" class="text-decoration-none h5 ml-3"> Conseilles</a></li>
            <li class="list-unstyled index-lien mt-1"> <a href="#" class="text-decoration-none h5 mr-5"> Accueil</a></li>
            <li class="nav-item  px-2 border rounded border-primary list-unstyled text-primary " ><i class="fa-solid fa-globe text-warning mx-2"></i> <a href="#" class="text-decoration-none h5 px-2 py-2 ">عربي</a></li>
      </ul>
    </div>
  </nav>


  <!-- voile le css du navbar :  -->
  <!-- .index-bg-image {
    background-image: url("/public/assets/SVG/bg.svg");
   }
   .index-logo {
       width: 90px;
   } -->